extends layout

block content
  h1= title
  form(id='journeyForm', action='/resource/journey', method='POST', style='max-width: 400px; margin: auto;')
    div.form-group(style='margin-bottom: 15px;')
      label.journeyAttr(for='destination', style='display: block;') Journey destination
      input#destination(type='text', name='destination', class='form-control', required)
    div.form-group(style='margin-bottom: 15px;')
      label.journeyAttr(for='seasons', style='display: block;') Journey seasons
      input#seasons(type='text', name='seasons', class='form-control', required)
    div.form-group(style='margin-bottom: 15px;')
      label.journeyAttr(for='cost', style='display: block;') Journey cost
      input#cost(type='number', name='cost', class='form-control', required)
    input(type='submit', class='btn btn-primary')

  script.
    document.forms['journeyForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)), // event.target is the form
      })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert('Save succeeded');
          // TODO: handle the response body
        })
        .catch((error) => {
          // TODO: handle the error
          alert('Save failed ' + error);
        });
    });
